.vs/*
.vs/WebTest/v16/Server/sqlite3/storage.ide-wal
.vs/WebTest/v16/Server/sqlite3/storage.ide-shm
.vs/WebTest/v16/Server/sqlite3/storage.ide-wal
WebTest/obj/Debug/netcoreapp3.1/WebTest.csprojAssemblyReference.cache
.vs/WebTest/v16/Server/sqlite3/storage.ide-wal
.vs/WebTest/v16/.suo
WebTest/bin/Debug/netcoreapp3.1/WebTest.dll
WebTest/bin/Debug/netcoreapp3.1/WebTest.pdb
WebTest/obj/Debug/netcoreapp3.1/WebTest.pdb
.vs/WebTest/v16/Server/sqlite3/storage.ide
